<h1>All Friends</h1>
<table>
    <thead>
        <tr>
            <th style="padding-right: 30px;">Name</th>
            <th style="padding-right: 30px;">Show</th>
            <th style="padding-right: 30px;">Update</th>
            <th style="padding-right: 30px;">Delete</th>
        </tr>
    </thead>
    <tbody ng-repeat="friend in friends">
      <tr>
        <td>{{friend.firstName}} {{friend.lastName}}</td>
        <td><a href="#/show/{{friend._id}}">Show</a></td>
        <td><a href="#/update/{{friend._id}}">Update</a></td>
        <td><a href="#/delete/{{friend._id}}" ng-click='delete(friend._id)'>Delete</a></td>
      </tr>
    </tbody>
</table>
